module 
https://youtu.be/wUSDVGivd-8?t=11570

library is a collection of modules

### https://youtu.be/wUSDVGivd-8?t=12496

###https://youtu.be/wUSDVGivd-8?t=12508

https://youtu.be/wUSDVGivd-8?t=12947

https://youtu.be/wUSDVGivd-8?t=12998

# Pandas Data Management

load data

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

# DataFrame Copy
df_original = df.copy()

/Users/michelkadi/dataanalytics/mat/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

###copy
Recall from the last lesson, when we filled in missing values for median salary.

Here let's make a new dataframe `df_altered` and only make changes to it.

In [2]:
# Create new dataframe
df_altered = df_original

df_altered.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

Let's fill in missing values with the median value.

In [3]:
# Calculating the median salary
median_salary = df_altered['salary_year_avg'].median()

# Filling the missing values with the median salary
df_altered['salary_year_avg'] = df_altered.loc[:,'salary_year_avg'].fillna(median_salary)

In [4]:
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

now let's inspect the altered DatsFrame

In [5]:
df_altered.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [6]:
df_original.loc[:5,'salary_year_avg']#what about the original

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

Holdup!! How the heck did `df_original` get altered!?!

Well both the variables of `df_original` and `df_altered` are referencing the same DataFrame.

In [7]:
print('ID of df_original:               ', id(df_original))
print('ID of df_altered:                ', id(df_altered))
print('Are the two dataframes the same? ', id(df_original) == id(df_altered))

ID of df_original:                5979464112
ID of df_altered:                 5979464112
Are the two dataframes the same?  True

Instead we can use the .copy() method

- `copy()`: Copy a DataFrame.

In [8]:
df_original = df.copy()
df_altered = df_original.copy()

print('ID of df_original:               ', id(df_original))
print('ID of df_altered:                ', id(df_altered))
print('Are the two dataframes the same? ', id(df_original) == id(df_altered))

ID of df_original:                5978382192
ID of df_altered:                 6284399952
Are the two dataframes the same?  False

In [9]:
# Calculating the median salary
median_salary = df_altered['salary_year_avg'].median()

# Filling the missing values with the median salary
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

df_altered.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

Fill all NaN values with a single value
df.fillna(0)


Replaces every missing value in the DataFrame with 0.

✅ 2. Fill NaN in a specific column
df['salary'] = df['salary'].fillna(df['salary'].mean())


Commonly used with:

mean()

median()

mode()

A fixed value

The original dataframe doesn't get altered!

In [10]:
df_original.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

Now that we've created a copy of our data, we want to start our analysis. But if we have a large set of data we only want to take a subset of data to make it more manageable. We can use `sample()` to get a random sample of the data.

## Sample

### Notes

* `sample()`: Random sample of items.

### Examples

Let's get a random sample of the data. You could get a sample with a fixed row number.

In [11]:
df.sample(n=5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
9915,Data Scientist,Data Scientist,"Bengaluru, Karnataka, India",via LinkedIn,Full-time,False,India,2023-06-06 13:10:18,False,False,India,None,NaN,NaN,IdeaBoard,None,None
486352,Senior Data Engineer,Senior Data Engineer,Anywhere,via LinkedIn,Full-time,True,Turkey,2023-04-05 11:23:57,False,False,Turkey,None,NaN,NaN,Magnus,"['python', 'java', 'scala', 'cassandra', 'reds...","{'cloud': ['redshift'], 'databases': ['cassand..."
458568,Senior Data Scientist,Senior Data Scientist,"Malvern, PA",via WJHL Jobs,Full-time,False,"New York, United States",2023-05-01 14:03:08,False,False,United States,None,NaN,NaN,Vanguard,"['python', 'r', 'dynamodb', 'mysql', 'aws', 'n...","{'cloud': ['aws'], 'databases': ['dynamodb', '..."
654415,Data Engineer,Data Analytics Engineer,Anywhere,via LinkedIn,Full-time,True,Sudan,2023-12-02 10:47:45,True,True,Sudan,None,NaN,NaN,Motion Recruitment,"['sql', 'nosql', 'python', 'aws', 'redshift']","{'cloud': ['aws', 'redshift'], 'programming': ..."
459551,Data Analyst,Data Science Associate,"Barcelona, Spain",via BeBee,Full-time,False,Spain,2023-03-29 15:26:30,False,False,Spain,None,NaN,NaN,Recruitee,"['python', 'sql', 'aws', 'tensorflow', 'pytorc...","{'analyst_tools': ['sap'], 'cloud': ['aws'], '..."

Or you can randomly select a fraction of the data (e.g., 10% of the rows), with or without replacement.

In [12]:
df.sample(frac=0.1, replace=False)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
558364,Senior Data Scientist,Senior Principal Data Scientist - Full-time / ...,"Grayslake, IL",via Snagajob,Full-time,False,"Illinois, United States",2023-04-17 04:20:58,False,False,United States,None,NaN,NaN,WALGREENS,None,None
10351,Software Engineer,Product Analyst,Hong Kong,via LinkedIn,Full-time,False,Hong Kong,2023-03-31 14:03:08,True,False,Hong Kong,None,NaN,NaN,Clover Health,"['sql', 'tableau']","{'analyst_tools': ['tableau'], 'programming': ..."
774429,Data Analyst,"AD, Cash Data Analytics",Singapore,via EFinancialCareers,Full-time,False,Singapore,2023-04-14 01:31:14,False,False,Singapore,None,NaN,NaN,Standard Chartered Bank,"['python', 'sql', 'hadoop', 'alteryx', 'tableau']","{'analyst_tools': ['alteryx', 'tableau'], 'lib..."
517171,Senior Data Engineer,Senior Data MDM Engineer (m/f/d),Austria,via The Muse,Full-time,False,Austria,2023-02-28 11:47:26,False,False,Austria,None,NaN,NaN,EPAM Systems,"['sql', 'shell', 'java', 'nosql', 'mongodb', '...","{'cloud': ['oracle'], 'databases': ['mongodb',..."
212534,Machine Learning Engineer,ENGINEER MACHINE LEARNING,Panama,via Sercanto,Full-time,False,Panama,2023-07-09 23:47:02,False,False,Panama,None,NaN,NaN,First Quantum Minerals,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321411,Data Engineer,Data Engineer - AWS / Azure,"Mumbai, Maharashtra, India",via SimplyHired,Full-time,False,India,2023-09-14 17:11:30,True,False,India,None,NaN,NaN,Decisionnxt,"['scala', 'aws', 'spark']","{'cloud': ['aws'], 'libraries': ['spark'], 'pr..."
559555,Data Analyst,Data Analyst,Canada,via BeBee Canada,Full-time,False,Canada,2023-01-17 04:55:17,True,False,Canada,None,NaN,NaN,Publitas B.V.,"['python', 'sql', 'spreadsheet', 'alteryx', 'p...","{'analyst_tools': ['spreadsheet', 'alteryx', '..."
514025,Data Engineer,"Data Engineer (m/w/d) Fachbereich Finanzen, Co...","Munich, Germany",via Stepstone,Full-time,False,Germany,2023-06-29 11:12:44,True,False,Germany,None,NaN,NaN,BKK Landesverband Bayern,"['t-sql', 'c#', 'python', 'ssis', 'ssrs']","{'analyst_tools': ['ssis', 'ssrs'], 'programmi..."
514764,Software Engineer,Software Engineer,Austria,via Jobs Trabajo.org,Full-time,False,Austria,2023-10-09 11:49:29,True,False,Austria,None,NaN,NaN,Peoplebank,"['python', 'aws', 'node.js']","{'cloud': ['aws'], 'programming': ['python'], ..."
719250,Data Engineer,Data Engineer Intern,"Oak Brook, IL",via LinkedIn,Internship,False,"California, United States",2023-09-08 21:27:22,False,False,United States,None,NaN,NaN,CNH Industrial,['databricks'],{'cloud': ['databricks']}

Now you can analyze these subsets of data.