#operators part1

https://youtu.be/wUSDVGivd-8

In [2]:
3 + 3

6

In [1]:
2 + 3
print(2+3)

5

In [ ]:
"what's" + "up" +"!"

In [6]:
"what's up" * 10

"what's upwhat's upwhat's upwhat's upwhat's upwhat's upwhat's upwhat's upwhat's upwhat's up"

In [7]:
3.0 - 2

1.0

In [8]:
"what's up" - "up"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [9]:
four = 4
four.__sub__(2)

2

In [10]:
4 -2

2

In [11]:
5 / 2

2.5

In [12]:
5 // 2

2

In [13]:
5 % 2

1

#parentheses anything in parenthesis is executed first
#exponents operation involving exponents (including roots,indicated as fractional exponents)
#multiplication and division processed from left to right
#addition and substraction also processed from left to right

In [17]:
print("5 divided by 2 is: ",5 // 2, " with a remainder of: ",5 % 2)

5 divided by 2 is:  2  with a remainder of:  1

In [21]:
min_salary = 20_000 # this _ ignored by interpreter
max_salary = 80_000
avg_salary = (min_salary + max_salary) / 2
avg_salary

50000.0

In [22]:
applicant_1 = "rita"
applicant_2 = "josephine"

In [23]:
temp_var = applicant_1

In [24]:
applicant_1 = applicant_2
applicant_1 = temp_var

In [25]:
applicant_1, applicant_2

('rita', 'josephine')

### multiple values in one line

In [26]:
applicant_1, applicant_2 = applicant_2, applicant_1

In [27]:
applicant_1, applicant_2

('josephine', 'rita')

In [28]:
x = 1
x = x +1
x

2

In [32]:
y = 1
y += 2
y

3

In [35]:
z = 2
z *= 2
z

4

In [36]:
salary_rita = 60_000
salary_joujou = 40_000

In [37]:
salary_rita == salary_joujou

False

In [38]:
1 == 1

True

In [39]:
if(salary_rita > salary_joujou):
        print('rita is paid more then joujou')

rita is paid more then joujou

## basics Conditional :if , elif, else

In [40]:
if True:
        print("what's up data nerds")

what's up data nerds

In [ ]:
if False:
        print("what's up data nerds")

In [44]:
if False:
        print("what's up data nerds")
else:
        print("not valid")

not valid

In [ ]:
job_skill = 'SQL'
aplicant_skill = 'SQL'
if job_skill == aplicant_skill:
        print('skills matches')

skills matches

In [ ]:
years_experience = 6
job_skill = 'SQL'
aplicant_skill = 'SQL'
if job_skill == aplicant_skill:
        print('skills matches')
elif years_experience >= 5:
        print("enough experience no SQL")
else:
        print("not enough")

skills matches

In [ ]:
years_experience = 6
job_skill = 'SQL'
aplicant_skill = 'python'
if job_skill == aplicant_skill:
        print('skills matches')
elif years_experience >= 5:
        print("enough experience no SQL")
else:
        print("no skill or experience")

enough experience no SQL

In [3]:
years_experience = 3
job_skill = 'SQL'
aplicant_skill = 'python'
if job_skill == aplicant_skill:
        print('skills matches')
elif years_experience >= 5:
        print("enough experience no SQL")
else:
        print("no skill or experience")

no skill or experience

In [6]:
years_experience = 3
job_skill = 'python'
aplicant_skill = 'SQL'
if job_skill == aplicant_skill:
        print('skills matches')
elif years_experience >= 5:
        print("enough experience no SQL")
elif job_skill == 'python':
        print("this applicant should know SQL")
else:
        print("no skill or experience")

this applicant should know SQL