### TUPLE ORDERED IMMUTABLE ALLOW DUPLICATE ELEMENTS

In [ ]:
mytuple = ("max",28,"boston")#parenthesis is optional i can remove it

In [2]:
mytuple

('max', 28, 'boston')

tuple = ("max")
print(type(tuple))

tuple = ("max",)#add , to become a tuple
print(type(tuple))

In [1]:
mytuple1 = tuple(["michel","rita","josephine"]) 
print(mytuple1)

('michel', 'rita', 'josephine')

In [ ]:
item = mytuple1 [0]# index[-1]refer to last item
print(item)

michel

In [ ]:
mytuple[0]="michel" #give error cuz tuple is immutable

NameError: name 'mytuple' is not defined

In [5]:
mytuple1 = tuple(["michel","rita","josephine"])
for i in mytuple1:
        print(i)

michel
rita
josephine

In [ ]:
if "rita"in mytuple1:
        print("yes")
else:
        print("no")

no

In [9]:
mytuple2 = ['a','p','p','l','e']
print(len(mytuple2))
print(mytuple2.count('p'))

5
2

In [10]:
print(mytuple2.index('p'))

1

### conversion from list to tuple and vice versa

In [12]:
my_list = list(mytuple2)
print(my_list)

['a', 'p', 'p', 'l', 'e']

In [13]:
mytuple2 = tuple(my_list)
print(mytuple2)

('a', 'p', 'p', 'l', 'e')

# slicing

In [22]:
a = (1,2,3,4,5,6,7,8,9,10)
b = a[2:5]
print(b)
c = a[:5]
print(c)
z = a[1:]
print(z)
y = a[::1]
print(y)
w = a [::2]
print(w)
v = a[::-2]
print(v)

(3, 4, 5)
(1, 2, 3, 4, 5)
(2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 3, 5, 7, 9)
(10, 8, 6, 4, 2)

In [23]:
my_tuple1 = ("max",28,"boston")
name,age,city =my_tuple1
print(name)
print(age)
print(city)

max
28
boston

In [24]:
my_tuple3 = [1,2,3,4,5,6,7,8,9,10]
i1, *i2, i3 =my_tuple3
print(i1)
print(i3)
print(i2)

1
10
[2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
import sys
my_list1 = [0,1,2,"hello",True]
my_tuple3 = (9,1,2,"hello",True)
print(sys.getsizeof(my_list1),"bytes")
print(sys.getsizeof(my_tuple3),"bytes")

104 bytes
80 bytes

In [ ]:
#working with tuple more efficient then list
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]",number =1000000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)",number =1000000))

0.13402938900981098
0.022965306998230517